h1{
	/*color: red;*/
	color: #ff0000;
	border: 5px solid green;
}
h4{
	/*color: purple;*/
	color: rgb(20,0,255);

}
li{
	/*color: green;*/
	color: rgba(255,25,100,.8);
}
div{
	background: #39fabd;

}
body{
	background: url(http://www.hdwallpapersfreedownload.com/download/captain-america-shield-hd-1440x900/);
	}